# --- Core ML & PyG Binaries ---
--find-links https://data.pyg.org/whl/torch-2.8.0+cu129.html
torch==2.8.0
torchvision
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric==2.6.1

# --- NLP & Research Stack ---
transformers==4.57.0
sentence-transformers==5.1.1
mteb==2.1.7
datasets==3.6.0
beir==2.2.0
peft==0.17.1

# --- Data & Logging ---
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
wandb==0.22.2
accelerate==1.10.1
tqdm==4.67.1
polars==1.34.0
matplotlib
seaborn